$main_color: #d80416;
$secondary_color: #027087;
$primary_black: #02060a;
$secondary_black: #0d1314;
$grayButton: #2d2d2e;
$gray_color: #d9d9d9;
$gray_font: #5c5c5c;
$white_color: #efefef;
$white_colorForm: #f5f5f5;

//Variables de fuentes
$Roboto: "Roboto", sans-serif;
$Exo: "Exo", sans-serif;
